<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kakao Redirect Page</title>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const code = urlParams.get('code');
            const messageElement = document.getElementById('message');

            if (code) {
                messageElement.textContent = "Processing..."; // 처리 중 메시지 표시
                handleOAuthKakao(code);
            }

            async function handleOAuthKakao(code) {
                try {
                    const response = await fetch(`/oauth/login/kakao?code=${code}`);
                    const data = await response.text();
                    messageElement.textContent = "로그인 성공!"; // 로그인 성공 메시지 표시
                } catch (error) {
                    messageElement.textContent = "로그인 실패!"; // 로그인 실패 메시지 표시
                }
            }
        });
    </script>
</head>
<body>
<div>
    <p id="message">Loading...</p>
</div>
</body>
</html>
